body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0077cc;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.author {
    font-style: italic;
}

article {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

.article-image {
    width: 100%;
    border-radius: 5px;
    display: flex;
}

.article-image img{
    width: 400px;
}

.article-image p{
    font-weight: 700;
    padding: 40px 60px;
    font-size: large;
}

.description p{
    font-size: x-large;
}

.itc{
    font-style: italic;
}

.author-description {
    background: #e7f3fe;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

.author-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0077cc;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
